@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Mentoria</title>
</head>

<body>
    <div style="font-family:sans-serif Print;color:#cc4e3d;">
        <div style="background-color:#ade0b2;padding: 15px;text-align:center;">
            <h1>Mentoria</h1>
        </div><br><br>

        <div class="row">
            <div class="col-sm-8 col-md-8">
                <img src="/imagens/banner02.jpg">
            </div>
            <div class="col-sm-4 col-md-4">
                <div style="font-size:18;text-center;">
                    <p><strong>“Você está buscando melhorar numa área acadêmica <br><br>específica e precisa de uma orientação individual<br><br>feita por um profissional confiável?<br><br>Às vezes, tudo o que é preciso para que você realmente<br><br>entenda a matéria é um instrutor atencioso e que sabe<br><br>como ensinar no seu ritmo.<br><br>Entre em contato para ver como eu posso ajudar você.</strong></p>
                </div>
            </div>
        </div>
    </div><br><br>

    <div style="font-family:sans-serif Print;color:#2844e2de;">
        <div style="background-color: #dbf3da;font-family:Arial;color: #01000c;padding:15px;text-align:center;">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <h2><strong>Serviços</strong></h2><br>
                    <h3><align center>Tornando a aprendizagem mais agradável</align></h3><br>
                            <ul>
                                <li> PREPARAÇÃO PARA PROVAS DE VESTIBULAR E PROVAS ESCOLARES</li><br>
                                <li> AUXÍLIO EM TAREFAS ESCOLARES</li><br>
                                <li> AULAS DE REFORÇO ESCOLAR PARA ENSINOS FUNDAMENTAL E MÉDIO</li><br>
                                <li> ORGANIZAÇÃO DE HORÁRIOS DE ESTUDOS</li><br>
                                <li> CORREÇÃO TEXTUAL.</li><br>
                            </ul>
                </div>
            </div>
        </div>
    </div><br><br>
    <div style="font-family:sans-serif Print;color:#2844e2de;">
        <div style="background-color:#abb6ac;padding: 15px;text-align:center;">
            <p><strong>Entregando um serviço excepcional aos alunos</strong></p>
        </div>
    </div><br><br>


    <div style="background-color: #323d31;padding: 15px; text-align: center">


        <iframe width="560" height="315" src="https://www.youtube.com/embed/kdbC8evfNlE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>


    </div><br>

</body>
</html>
